<p id="notice"><%= notice %></p>

<h1>Sub Dropdowns</h1>

<table>
  <thead>
    <tr>
      <th>Choice name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_dropdowns.each do |sub_dropdown| %>
      <tr>
        <td><%= sub_dropdown.choice_name %></td>
        <td><%= sub_dropdown.price %></td>
        <td><%= link_to 'Show', sub_dropdown %></td>
        <td><%= link_to 'Edit', edit_sub_dropdown_path(sub_dropdown) %></td>
        <td><%= link_to 'Destroy', sub_dropdown, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Dropdown', new_sub_dropdown_path %>
