<br>
<h5>Content</h5>
	<div>
		<%= link_to 'Title, Description & Button', new_content_path %>
	</div>
<br>
<h5>Element</h5>
	<div>
		<%= link_to 'Text', texts_path %>
	</div>
	<div>
		<%= link_to 'Email', emails_path %>
	</div>
	<div>
		<%= link_to 'Paragraph', paragraphs_path %>
	</div>
	<div>
		<%= link_to 'Dropdown', dropdowns_path %>
	</div>
	<div>
		<%= link_to 'Multiple Choice', multiple_choices_path %>
	</div>
	<div>
		<%= link_to 'Date and Time', datetimes_path %>
	</div><br>
	<div>
		<%= link_to 'Add Element', root_path, class: 'btn btn-primary' %>
	</div>
<br>