<p id="notice"><%= notice %></p>

<p>
  <strong>Choice name:</strong>
  <%= @sub_multiple_choice.choice_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sub_multiple_choice.price %>
</p>

<%= link_to 'Edit', edit_sub_multiple_choice_path(@sub_multiple_choice) %> |
<%= link_to 'Back', sub_multiple_choices_path %>
