<p id="notice"><%= notice %></p>

<h1>Datetimes</h1>

<table>
  <thead>
    <tr>
      <th>Label name</th>
      <th>Required field</th>
      <th>Half width</th>
      <th>Display type</th>
      <th>Date format</th>
      <th>Time type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datetimes.each do |datetime| %>
      <tr>
        <td><%= datetime.label_name %></td>
        <td><%= datetime.required_field %></td>
        <td><%= datetime.half_width %></td>
        <td><%= datetime.display_type %></td>
        <td><%= datetime.date_format %></td>
        <td><%= datetime.time_type %></td>
        <td><%= link_to 'Show', datetime %></td>
        <td><%= link_to 'Edit', edit_datetime_path(datetime) %></td>
        <td><%= link_to 'Destroy', datetime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datetime', new_datetime_path %>
