<p id="notice"><%= notice %></p>

<p>
  <strong>Label name:</strong>
  <%= @dropdown.label_name %>
</p>

<p>
  <strong>Required field:</strong>
  <%= @dropdown.required_field %>
</p>

<p>
  <strong>Half width:</strong>
  <%= @dropdown.half_width %>
</p>

<p>
  <strong>Answer public:</strong>
  <%= @dropdown.answer_public %>
</p>

<%= link_to 'Edit', edit_dropdown_path(@dropdown) %> |
<%= link_to 'Back', dropdowns_path %>
