<br>
<h4>Add an element</h4>

<div>
	<%= link_to 'Text Box', input_text_form_input_elements_path(form_id: @form.id) %>
</div>
<div>
	<%= link_to 'Email', input_email_form_input_elements_path(form_id: @form.id) %>
</div>
<div>
	<%= link_to 'Paragraph', input_paragraph_form_input_elements_path(form_id: @form.id) %>
</div>
<div>
	<%= link_to 'Dropdown', input_dropdown_form_input_elements_path(form_id: @form.id) %>
</div>
<div>
	<%= link_to 'Multiple Choice', input_multiple_choice_form_input_elements_path(form_id: @form.id) %>
</div>
<div>
	<%= link_to 'Datetimes', input_datetime_form_input_elements_path(form_id: @form.id) %>
</div>
<br>